* {
  box-sizing: border-box;
}

html {
  background-attachment: fixed; 
  background-size:cover; 
  background-image: url(../svg/background.svg);
  height: 100%;
}

body {
  color: $gray-dark;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

h1 { font-size: 3em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }

p {
  line-height: 1.3em;
}

a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: darken($green, 25%);
}


#greeting {
  margin-top: 50px;
  text-align: center;
  width: 100%;

  h1 {
  font-size: 4rem;    
  line-height: 3.6rem;
  }

  h2 {
    color: $blue;
    line-height: 3rem;
    margin-bottom: 1rem;
    text-shadow:  2px 1px 0px rgba($gray-dark, .5);

    @include breakpoint($tablet-wide) {
      text-shadow: none;
    }
  }
}

.body {
  background-color: rgba($white, .7);
  font-size: 1.3rem;
  color: lighten($gray, 5%);
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  text-align: left;

  @include breakpoint($tablet-wide) {
    max-width: 600px;
    margin-bottom: 3em;

    padding: 2em;
  }
}
