<h1 id="hello">Hello</h1>
<h2 id="i-m-winston-">I&#39;m Winston.</h2>
<div class="body">

<p>I&#39;m a Front End Developer working remotely for <a href="http://voxmedia.com">Vox Media</a> in Chattanooga, TN.</p>
<p>Previously, I helped build the <a href="http://press.fiftythree.com">FiftyThree Press Page</a> , worked as a QA engineer for <a href="http://editorially.com">Editorially</a> (RIP), and helped launch the fully-responsive, user-friendly 2.0 update to <a href="http://foxycart.com">FoxyCart</a>, all while traveling the country with my wife and son.</p>
<p>I blog at <a href="http://winstonhearn.com">winstonhearn.com</a>, I&#39;m on Github as <a href="https://github.com/wnstn/">wnstn</a>, I tweet at <a href="https://twitter.com/suchwinston">@suchwinston</a> (be forewarned that I&#39;m obnoxious), and if you need to send me substantial information you can do so <a href="mailto:hello@wnstn.com">via email.</a></p>
